---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Game of Life with Svelte in Astro.">
	<main class="mx-auto w-9/10 p-4">
		<div class="prose mx-auto">
			<h1>Conway's Game of Life</h1>
			<p>
				<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a> is a cellular automaton devised by the British mathematician John Horton Conway in 1970. It is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves.
				</p>
	
		</div>

		
	</main>
</Layout>
